{
  "extends": "@antfu",
  // Unexpected console statement.eslintno-console
  "rules": {
    "no-console": "off",
    "vue/valid-v-slot": [
      "error",
      {
        "allowModifiers": true
      }
    ]
  }
}
