{{#if template}}
  <template>
    <div>

    </div>
  </template>
{{/if}}

{{#if script}}
  <script setup lang='ts'>
    import { defineComponent, ref, computed, onMounted,watch } from 'vue';
    import { useRouter, useRoute } from 'vue-router';
  </script>
{{/if}}

{{#if style}}
  <style lang='scss' scoped>

  </style>
{{/if}}
